.App {
  text-align: center;
}

/* var(--name, value) */
:root {
  --red: #ce0101;
  --yellow: rgb(222, 222, 30);
  --green: rgb(4, 160, 4);
  --light:#f1f89d;
  --shadow:0rem 0rem 2rem 2rem;
}
.stoplight-post{
  width:1rem;
  height:5rem;
}
.red-light , .yellow-light , .green-light{
  width:5rem;
  height:5rem;
  margin: 0.3rem 0.2rem;
}
.red-light{
  background: var(--red);
}
.yellow-light{
  background: var(--yellow);
}
.green-light{
  background: var(--green);
}
.red-light.selected{
  background: radial-gradient(var(--red) 40%, var(--light));
  box-shadow: var(--shadow) rgb(243, 183, 159);
}
.yellow-light.selected{
  background: radial-gradient(var(--yellow), var(--light));
  box-shadow: var(--shadow) var(--light);
}
.green-light.selected{
  background: radial-gradient(var(--green) 40%, var(--light));
  box-shadow: var(--shadow) rgb(194, 232, 128);
}
